{% extends 'base.html.twig' %}

{% block title %}Space-Tactics Main{% endblock %}

{% block body %}
    <!-- Main Menu -->

    {% include 'parts/ingame_mainmenu.html.twig' %}


    <!-- Content -->
    <section id="content" class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    {% if app.user is not null %}
                        {% include 'parts/sidebar.html.twig' %}
                    {% endif %}
                </div>

                <div class="col-lg-10 col-md-12">
                    <section>
                        <div class="row">
                            <div class="col-lg-6 mt-1">
                                <h3>Willkommen zurück {{ user.username }} </h3>
                            </div>
                            <div class="col-lg-6">
                                <select name="planet" class="form-control planet-switcher-select">
                                    {% for planet in planets %}

                                        <option
                                                value="{{ planet.slug }}"
                                                style="color: #000;"
                                                {{ planet.slug == slug ? 'selected' : '' }}
                                        >
                                            {{ planet.name }}
                                            {{ planet.systemX }}:{{ planet.systemY }}:{{ planet.systemZ }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="container-fluid mt-3">
                            <div class="buildings">

                                <div class="col-lg-5 alert alert-primary" role="alert">
                                    Deine Offiziere unterstützen dich in vielerlei Hinsicht.
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    {% include 'parts/footer.html.twig' %}
{% endblock %}


