{% extends 'base.html.twig' %}
{% trans_default_domain 'alliance' %}


{% block title %}Space-Tactics {{ 'alliance'|trans }} {% endblock %}

{% block body %}
    <!-- Main Menu -->

    {% include 'parts/ingame_mainmenu.html.twig' %}


    <!-- Content -->
    <section id="content" class="main buildings-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    {% if app.user is not null %}
                        {% include 'parts/sidebar.html.twig' %}
                    {% endif %}
                </div>

                <div class="col-lg-10 col-md-12">
                    <section>

                        <div class="row">
                            <div class="col-lg-6 mt-1">
                                <h3>Willkommen zurück {{ user.username }} </h3>
                            </div>
                            <div class="col-lg-6">
                                <select name="planet" class="form-control planet-switcher-select">
                                    {% for planet in planets %}

                                        <option
                                            value="{{ planet.slug }}"
                                            style="color: #000;"
                                            {{ planet.slug == slug ? 'selected' : '' }}
                                        >
                                            {{ planet.name }}
                                            {{ planet.systemX }}:{{ planet.systemY }}:{{ planet.systemZ }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {% if allianceData is null %}
                                    <div class="alert alert-primary" role="alert">
                                        Hier ist dein Platz um Allianzen zu schmieden ...
                                    </div>

                                    {% if not allowAllianceFounder %}
                                        <div class="alert alert-danger" role="alert">
                                            ... aber du hast noch nicht genug Punkte. Bleib dran!
                                        </div>
                                    {% endif %}

                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                {% if allowAllianceFounder %}
                                    {{ form_start(form) }}
                                    {% if form_errors(form) %}
                                        <div class="alert alert-danger">
                                            {% for error in form_errors(form) %}
                                                <p>{{ error.message }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-lg-8">
                                            {{ form_row(form.name) }}
                                        </div>
                                        <div class="col-lg-4">
                                            {{ form_row(form.allianceTag) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.headline) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.description) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.url) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.logo) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.save) }}
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    {% if allianceData is not null %}
                                    <div class="row">
                                        <div class="col-8">
                                            <h3 class="">
                                                <strong>{{ allianceData.getName }}</strong>
                                                <span class="">[{{ allianceData.getAllianceTag }}]</span>
                                            </h3>
                                        </div>
                                        <div class="col-4">
                                            <img src="{{ asset('img/alliance/logos/' ~ allianceData.logoName) }}"
                                                 alt="{{ allianceData.getName }} Logo" class="alliance_logo"/>
                                        </div>
                                        <h4>{{ allianceData.getHeadline }}</h4>
                                        <div>{{ allianceData.getDescription }}</div>
                                        <div>{{ allianceData.getUrl|default(null) }}</div>
                                        <div>
                                            <a href="{{ path('leave_alliance', {'slug': selectedPlanet.slug}) }}">
                                                {{ 'leave_alliance'|trans }}
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>


    {% include 'parts/footer.html.twig' %}
{% endblock %}


