{% extends 'base.html.twig' %}

{% block title %}Space-Tactics Main{% endblock %}

{% block body %}
    <!-- Main Menu -->

    {% include 'parts/ingame_mainmenu.html.twig' %}


    <!-- Content -->
    <section id="content" class="main buildings-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    {% if app.user is not null %}
                        {% include 'parts/sidebar.html.twig' %}
                    {% endif %}
                </div>

                <div class="col-lg-10 col-md-12">
                    <section>
                        <div class="row">
                            <div class="col-lg-6 mt-1">
                                <h3>Willkommen zurück {{ user.username }} </h3>
                            </div>
                            <div class="col-lg-6">
                                <select name="planet" class="form-control planet-switcher-select">
                                    {% for planet in planets %}

                                        <option
                                            value="{{ planet.slug }}"
                                            style="color: #000;"
                                            {{ planet.slug == slug ? 'selected' : '' }}
                                        >
                                            {{ planet.name }}
                                            {{ planet.systemX }}:{{ planet.systemY }}:{{ planet.systemZ }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {% if allianceData is null %}
                                <div class="alert alert-primary" role="alert">
                                    Hier ist dein Platz um Allianzen zu schmieden.
                                </div>
                                {% else %}
                                    {% for label, messages in app.flashes %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ label }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                {{ form_start(form) }}
                                {% if form_errors(form) %}
                                    <div class="alert alert-danger">
                                        {% for error in form_errors(form) %}
                                            <p>{{ error.message }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-lg-8">
                                        {{ form_row(form.name) }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form_row(form.allianceTag) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form_row(form.headline) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form_row(form.description) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form_row(form.url) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form_row(form.logo) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form_row(form.save) }}
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <div class="col-6">
                                <h5 class="row">
                                    {% if allianceData is not null %}
                                        <h3 class="">
                                            <strong>{{ allianceData.getName }}</strong>
                                            <span class="">[{{ allianceData.getAllianceTag }}]</span>
                                        </h3>
                                        <h4>{{ allianceData.getHeadline }}</h4>

                                        <div style="
                                            height: 400px;
                                            width: 100%;
                                            background-image: url({{ asset('img/alliance/logos/' ~ allianceData.logoName) }}
                                            );
                                            background-size: cover;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            position: relative;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            ">
                                            <div style="
                                                        position: absolute;
                                                        top: 0;
                                                        left: 0;
                                                        right: 0;
                                                        bottom: 0;
                                                        background: rgba(0, 0, 0, 0.5); /* Change the opacity as needed */
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                    ">
                                                {{ allianceData.getDescription }}
                                            </div>
                                        </div>
                                        <div>{{ allianceData.getUrl|default(null) }}</div>
                                    {% endif %}
                            </div>
                        </div>
                </div>
    </section>
    </div>
    </div>
    </div>
    </section>

    {% include 'parts/footer.html.twig' %}
{% endblock %}


