{% extends 'base.html.twig' %}

{% block title %}Space-Tactics Main{% endblock %}

{% block body %}
    <!-- Main Menu -->

    {% include 'parts/ingame_mainmenu.html.twig' %}


    <!-- Content -->
    <section id="content" class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    {% if app.user is not null %}
                        {% include 'parts/sidebar.html.twig' %}
                    {% endif %}
                </div>

                <div class="col-lg-10 col-md-12">
                    <section>
                        <div class="row">
                            <div class="col-lg-6 mt-1">
                                <h3>Willkommen zurück {{ user.username }} </h3>
                            </div>
                            <div class="col-lg-6">
                                <select name="planet" class="form-control planet-switcher-select">
                                    {% for planet in planets %}

                                        <option
                                            value="{{ planet.slug }}"
                                            style="color: #000;"
                                            {{ planet.slug == slug ? 'selected' : '' }}
                                        >
                                            {{ planet.name }}
                                            {{ planet.systemX }}:{{ planet.systemY }}:{{ planet.systemZ }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="container-fluid mt-3">
                            <div class="buildings">

                                <div class="col-lg-5 alert alert-primary" role="alert">
                                    Hier ist dein Platz um Allianzen zu schmieden.
                                </div>
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ label }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}


                                {{ form_start(form) }}
                                {% if form_errors(form) %}
                                    <div class="alert alert-danger">
                                        {% for error in form_errors(form) %}
                                            <p>{{ error.message }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            {{ form_row(form.name) }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ form_row(form.allianceTa) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.headline) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.description) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.url) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.logo) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.save) }}
                                        </div>
                                    </div>

                                    {{ form_end(form) }}


                                </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    {% include 'parts/footer.html.twig' %}
{% endblock %}


