{% block mainmenu %}
    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Logo -->
                    <h1>
                        <a href="{{ path('index') }}" id="logo">
                            <img src="{{ asset('img/logo.png') }}" alt="Space-Tactics Logo">
                        </a>
                    </h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <a href="{{ path('index') }}">Index</a>
                        <a href="{{ path('news') }}">News</a>
                        <a href="{{ path('rules') }}">Regeln</a>
                        <a href="{{ path('fights') }}">Kämpfe</a>
                        <a href="{{ path('pillory') }}">Pranger</a>
                        <a href="{{ path('imprint') }}">Impressum</a>
                        {% if app.user is not null %}

                            <a href="{{ path('app_logout') }}" class="text-danger">Logout</a>
                        {% endif %}
                    </nav>

                </div>
            </div>
        </div>
    </section>
{% endblock %}