{% extends 'base.html.twig' %}
{% block sidebar %}
    <section>
        <header>
            <h2>
                Menu
                {% if app.user.roles.0 == 'ROLE_ADMIN' %}
                    <span class="hint"><a href="{{ path('admin') }}">Admin</a></span>
                {%  endif %}
            </h2>

        </header>
        <ul class="link-list">
            <li><a href="{{ path('main', {'slug': selectedPlanet.slug}) }}">Home</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('buildings', {'slug':selectedPlanet.slug}) }}">Gebäude</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('science', {'slug': selectedPlanet.slug}) }}">Forschung</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('shipyard', {'slug': selectedPlanet.slug}) }}">Schiffswerft</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('defense', {'slug': selectedPlanet.slug}) }}">Verteidigung</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('officers', {'slug': selectedPlanet.slug}) }}">Offiziere</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('scrapdealer', {'slug': selectedPlanet.slug}) }}">Schrotthändler</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('fleet', {'slug': selectedPlanet.slug}) }}">Flotte</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('galaxymap', {'slug': selectedPlanet.slug}) }}">Galaxie</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('alliance', {'slug': selectedPlanet.slug}) }}">Allianz</a></li>
            <li><a href="{{ path('statistics', {'slug': selectedPlanet.slug}) }}">Statistik</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('support', {'slug': selectedPlanet.slug}) }}">Support</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('rules', {'slug': selectedPlanet.slug}) }}">Regeln</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('simulations', {'slug': selectedPlanet.slug}) }}">Simulation</a></li>
            <li class="visible-{{ user.vacation }}"><a href="{{ path('notices', {'slug': selectedPlanet.slug}) }}">Notizen</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="{{ path('account_settings') }}">{{ 'account'|trans([], 'user') }}</a></li>

        </ul>
    </section>
{% endblock %}
